{%extends "layout.html"%}
{%load static%}
{%block custom_styles%}

<style>
  .side_toggle {
    top: 500px;
    position: sticky !important;
  }

  @media (min-width: 768px) {
    .sidebar.toggled .nav-item .nav-link span {
      font-size: .65rem;
      display: none;
    }
  }
</style>
{%endblock custom_styles%}


{%block content%}

<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-flex justify-content-between">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h1 class="h1 text-gray-800">Projects</h1>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create project
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create Project</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form id="data_upload" enctype="multipart/form-data">

            <div class="modal-body">

              <div class="form-group">
                <label for="pname">Project Name</label>
                <input type="text" class="form-control" name="project_name" id="pname" placeholder="Seyali" required>
              </div>

              <div class="form-group">
                <label for="pname">Classes</label>
                <input type="text" class="form-control" name="classes" id="classes" placeholder="Cat" required>
              </div>


              <div class="form-group">
                <label for="pname">Add Members</label>
                <input type="text" class="form-control" name="members" id="members" placeholder="gokul@gmail.com"
                  required>
              </div>


              <div class="form-group">
                <label for="images">Select files to upload:</label>
                <input type="file" class="form-control" name="imag_path" id="image_path" multiple required>
                <!-- <div class="custom-file">
                <input type="file" class="form-control" name="imag_path" id="images" multiple>
                <label class="custom-file-label" for="file-upload">Choose files</label>
              </div> -->
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>

          </form>

        </div>
      </div>
    </div>

    <!-- Modal end  -->
  </div>
  <hr class="sidebar-divider">

  <!-- Cards  -->

  <div id="project_details" class="row mt-3">
    <div class="row mt-3">
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>

{%endblock%}